@tailwind base;
@tailwind components;
@tailwind utilities;

footer, header {
  background-color: #004080;
  color: white;
}


.topo {
  padding-top: 150px !important;
}

footer {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }
}